ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEAxpkmgdDIlg4J4ypzMy7ZgLlxZAtMdO5Xc84wDVZJhFOqaPTcA4W8GHy4dj16wggmoubq4mIvSUS8fMH+9aKD3Y7hWjHNgvvUgQZaeqRwnn+uf87cs86le1eZSAy5c2j5je14e8tBnekTg/OdWL5sVU4WXoQJkgJwW8wGLOt4aTdQGK+Au7cvG2rQuWP/lh6v0fqWRE+Ic6MzozAj2w5r5rgDZIwP3W1UHYrjamOEL4Hy2++9Hb3PW9D7Jf7ak3wmtunsV5vuHGfQ9W2JqEhgkOPKI+S+S0Az7RJU0aRvRktkMFcoAIAkid0lrkD/sMYXLC3NgLrqW5+o6qPksoqphw== Tobias@seas.0621.apng.wireless-pennnet.upenn.edu
\venv
d]

# Bullshit Tobias keeps committing:
*.swp
*~
*.pyc

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.pyc
\
